
<div class="screenCar">
        <div id="loading" *ngIf="isLoading">
            <img src="../../assets/gif.gif">
        </div>
        <div *ngFor="let car of cars">
            <div *ngIf="car && !isLoading && !isConfirm" class="carFromList">
                <div class="car-photo">
                    <img src="../../assets/{{car.carPicture}}.jpg">
                </div>
                <div class="car-name">
                    <h2>{{car.car}}</h2>
                </div>
                <div class="car-details">
                    <table>
                        <tr><td>miejsc: {{car.seats}}</td><td style="padding-left: 20px;">skrzynia: {{car.gearbox }}</td></tr>
                        <tr><td>bagażnik: {{car.trunk}}</td><td style="padding-left: 20px;">paliwo: {{car.fuel}}</td></tr>
                    </table>
                </div>
                <div class="car-price" [ngClass]="{visible: car}">
                    <h3>{{car.price * obj.amountOfDays}} zł</h3>
                    <p>cena za {{ obj.amountOfDays }} 
                        <span *ngIf="amountOfDays == 1">dzień.</span>
                        <span *ngIf="amountOfDays > 1">dni.</span>
                    </p>
                    <button class="button" (click)="getCarId(car.id, car.carPicture, car.price, car.car)">Rezerwuj</button>
                </div>
            </div>
        </div>
    <div *ngIf="isEmpty"><h2>Przepraszamy, ale wszystkie auta zostały już zarezerwowane w wybranym przez Ciebie terminie.</h2></div>
</div>
